<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to  "Posts", root_path %>
    <% if user_signed_in? %>
      <%= link_to  "Salir", destroy_user_session_path, method: "delete" %>
    <% else %>
      <%= link_to  "Acceder", new_user_session_path %>
      <%= link_to  "Registrarse", new_user_registration_path %>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
